.team__section {
  background-color: var(--third-background-color);
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
}

.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: calc(42 / 36);
  }
}

.team__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
  }
}

.team__item {
  max-width: 450px;
  background-color: var(--secondary-accent-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: 768px) {
    flex-basis: calc(
      (100% - var(--work-indent) * (var(--work-items) - 2)) / (var(--work-items) - 1)
    );
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - var(--work-indent) * var(--work-items)) / (var(--work-items) + 1));
  }
}

.team__desc {
  padding-top: 30px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;

  &__title {
    font-weight: 500;
    text-align: center;
    color: var(--main-text-color);
    margin-bottom: 10px;
  }

  &__text {
    text-align: center;
    color: var(--secondary-text-color);
  }
}
