:root {
  /* Fonts */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Text colors */
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --acent-text-color: #2196f3;
  --secondary-accent-color: #ffffff;
  --secondary-logo-color: #000000;
  --contact-accent-color: rgba(255, 255, 255, 0.6);

  /* Background colors */
  --main-background-color: #ffffff;
  --accent-background-color: #2196f3;
  --secondary-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --hero-btn-background: #188ce8;
  --footer-socials-bg: rgba(255, 255, 255, 0.1);
  --overlay-bg: rgba(33, 150, 243, 0.9);
  --modal-bg: rgba(0, 0, 0, 0.2);
  --about-bg: rgba(47, 48, 58, 0.8);

  /* Others */
  --border-color: #ececec;
  --border-portfolio: #eeeeee;
  --work-items: 3;
  --work-indent: 30px;
  --socials-icon-color: #afb1b8;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin section($padding: 60px) {
  padding-top: $padding;
  padding-bottom: $padding;
}

@mixin flexCenter($type: flex, $main-axis: center, $cross-axis: center) {
  display: $type;
  justify-content: $main-axis;
  align-items: $cross-axis;
}
